/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Work+Sans:ital,wght@0,500;0,600;0,800;0,900;1,400;1,700&display=swap');




* {

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-title {
    text-align: center;

    font-size: 45px;

    font-weight: 700;
}

.pink {
    color: #F948B2;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 40px;
    border: 2px solid white;
    text-align: center;
    align-items: center;
    margin-top: 10px;

}

.li {
    margin-top: 30px;
}

.ai {
    gap: 10px;
}

.img {
    gap: 20px;
}

/* div styles */

.div-title {
    display: flex;
}

.game {
    width: 86.041px;
    height: 40px;
    margin-top: 50px;
    margin-right: 10px;
}

/* banner style */


.banner {
    display: flex;
    margin-top: 30px;
    gap: 180px;
}

.title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.local {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}

.description {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;

}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}

.btn-local {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}

.banner {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: 600px;
    width: 901px;
    height: 550px;
    background-position: left;
    margin-bottom: 200px;

}

.banner-img img {
    width: 200%;

}


/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* team style */
.team-boss {
    max-width: 800px;

    margin-left: 600px;


}

.team-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.player-name {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.player {
    display: flex;
    gap: 24px;
    margin-top: 10px;
}


.features {
    display: flex;
    margin-top: 150px;
    gap: 200px;
    align-items: center;
}

.feature-content {
    margin-left: 250px;
    margin-bottom: 300px;
}

.short {
    width: 318.5px;
    height: 365.083px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: relative;
    bottom: 300px;
}

.feature-img .img {
    margin-left: 160px;
}

.feature-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}




.ip {
    text-align: left;
}

.common {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.ui {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.icon {
    display: flex;
    gap: 100px;

}

.iu {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    border: 2px solid orangered;
}


.pi {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.ip {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}


.pro {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-left: 100px;
}

.yi {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}


.iyi {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.iy {
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}

.hi{
    display: flex;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}


/* footer styles */

.color{
    background-color: #0B0223;
    padding-bottom: 200px;
    
}



.footer_column{
    display: flex;
    margin-left: 650px;
    margin-top: 200px;
    
    
   

}


.white{
    color: white;
}


.mp{
    display: flex;
    gap: 100px;
    margin-left: 300px;
}


.i-phn{
   margin-left: 600px;
   margin-top: 100px;
  
}
.phn{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
display: flex;
gap: 100px;
margin-left: 300px;
margin-top: 100px;
}

.my{
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
margin-left: 500px;

}


.two{

}


/* responsive styles */

@media screen and (max-width:459px) {

    header {
        padding: 40px;

    }

    nav,
    .banner-title,
    .banner,
    .features,.player,.footer_column {
        flex-direction: column;

    }

    nav ul {
        flex-direction: column;
    }

    .banner-img img {
        width: 40%;

    }

    .feature-img img {
        width: 100%;
        margin: 0px;
    }


    .footer_column{
        padding: 100px;
      margin-left: 0 ;
    }

    .mp{
        margin-left: 30px;
    }


    .i-phn{
        margin-left: 60px;
    }
    
    .phn{
        margin-left: 0;
    }

    .my{
        margin-left: 0;
    }

    
    

    
   


}




/* tablet */
@media screen and (min-width: 459px) and (max-width: 768px) {

    header {
        padding: 100px;
    }

    nav,
    .banner-title,
    .banner,
    .features,.footer_column,.player,.color {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    .banner-img img {
        width: 50%;

    }

    .feature-img img {
        width: 100%;
        margin: 0px;
    }

    .color{
        margin-left: 0px;
    }
    .footer_column{
        padding: 100px;
      margin-left: 0 ;
    }

    .mp{
        margin-left: 30px;
    }


    .i-phn{
        margin-left: 60px;
    }
    
    .phn{
        margin-left: 0;
    }

    .my{
        margin-left: 0;
    }
}